
@media (min-width: 992px) {
  .deal-item {
    min-height: 400px;
  }
  //Model page
  .leads-txt {
    padding: 0;
  }

  .col-md-offset-left {
    margin-left: 8.33333%;
  }

  .modal-lg .modal-body {
    max-width: 80%;
    margin: 0 auto;
  }

  .leads-form .col-sm-4{
    max-width: 220px;
  }
}
@media (min-width: 768px) {
  .content-slider .swiper-slide {
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
  .chat-icon{
    margin-top: -7px;
    margin-left: 5px;
  }
  .chat-inner{
    &:before{
      content: '';
      background: url(../images/chat-img.png) no-repeat left center;
      width: 700px;
      height: 600px;
      background-size: 100%;
      position: absolute;
      left: 0;
      top:0;
      z-index: -1;
    }

  }
  .MenuItemExtend {
    padding: 13px 40px;
  }

  .sec-menu > li {
    margin-left: 18px;
  }

  .menu-dropdown {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  .logo-sub {
    margin-top: 2px;
  }

  .container-fluid > .navbar-collapse, .container-fluid > .navbar-header, .container > .navbar-collapse, .container > .navbar-header {
    margin-right: -15px;
    margin-left: -15px;
  }

  .sorting-section {
    margin-top: 40px;
  }

  .deal-item {
    min-height: 350px;
    margin-bottom: 65px;
  }

  .copy-txt {
    text-align: left;
  }

  //Search
  .search-left {
    float: left;
  }

  //Page Model
  .deals-table {
    table-layout: fixed;
  }
  .open-search,.close-search{
    line-height: 50px;
  }

  //Credit modal
  .credit-form input::-webkit-input-placeholder {
    color: transparent !important;
  }

  .credit-form input::-moz-placeholder {
    color: transparent !important;
  }

  .credit-form input::-moz-placeholder {
    color: transparent !important;
  }

  .credit-form input:-ms-input-placeholder {
    color: transparent !important;
  }

  .modal-headline {
    padding-top: 20px;
  }

  .thanks-modal {
    padding: 50px 50px 80px 50px;
  }
}


@media (min-width: 1200px) {
  .selection-drop .dropdown-menu {
    padding: 35px;
  }

  .select-bg {
    padding-right: 30px;
  }

  .info-bg {
    min-height: 549px;
  }

  //Results page
  .results-block {
    padding: 70px;
  }
}

@media (min-width: 1450px) {
  .mid-headline {
    font-size: 30px;
  }

  .prom-headline {
    font-size: 55px;
  }

  .car-icon-g {
    top: 12px;
  }

  .leads-btn {
    margin-top: 20px;
  }
  select{
    .fs24;
  }
  ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #000000;
    .fs24;
  }

  ::-moz-placeholder { /* Firefox 19+ */
    color: #000000;
    .fs24;
  }

  :-ms-input-placeholder { /* IE 10+ */
    color: #000000;
    .fs24;
  }

  :-moz-placeholder { /* Firefox 18- */
    color: #000000;
    .fs24;
  }

  .info-bg {
    min-height: 584px;
  }
  .bootstrap-select.btn-group .dropdown-toggle .filter-option{
    .fs24;
  }
}

@media (min-width: 1600px) {
  .container {
    width: 1560px;
  }

  .logo-inner {
    font-size: 34px;
    line-height: 30px;
  }
}

@media (max-width: 1450px) and (min-width: 768px) {
  html, body {
    font-size: 14px;
  }

  //Dropdown area
  .drop-checkbox {
    width: 20px;
    height: 20px;
  }

  .table th {
    padding: 10px 20px !important;
  }

  .car-icon-g {
    width: 100%;
    height: 62px;
  }
  .input-submit{
    font-size: 1.2rem;
  }
}

@media (max-width: 1450px) {

  //Home Slider
  .home-headline-lg {
    font-size: 4rem;
    line-height: 3.8rem;
    margin-bottom: 30px;
  }

  .headline-sub {
    font-size: 2.5rem;
  }

  .lease-tabcontent {
    padding: 20px;
  }

  .home-slider {
    height: 430px;
    top: 0;
  }

  .home-slider-right {
    height: 380px;
  }

  .td-subtext {
    .fs18;
  }

  .car-icon-g {
    top: 6px;
  }

  .leads-txt {
    font-size: 20px;
    line-height: 27px;
  }

  .sl-headline-sub, .sl-headline-or {
    font-size: 3rem;
  }

  .sl-headline-or {
    margin-bottom: 10px;
    line-height: 4rem;
  }

  .sl-headline-g {
    font-size: 5rem;
    text-indent: 100px;
  }

  .white-bg {
    padding: 25px 45px;
  }

  .leads-form-sm {
    padding: 17px 25px;
  }
.leads-form{
  padding: 25px 25px 25px 45px;
}

  .leads-btn {
    margin-top: 10px;
  }
  .chat-heading{font-size: 3rem;}
  .chat-subheading {
    font-size: 2rem;
  }
  .calc-icon{
    width:25px;
  }
  .model-calc {
    top: 15px;
  }
  .deals-table th{
    width:auto!important;
  }
  .table-info td {
    padding: 16px 0!important;
  }
  .btn-rounded{
    line-height: 4.3rem;
  }
  .terms-list li:before{
    top: 7px;
  }
}

@media (max-width: 1199px) {
  .home-slider-right {
    height: 350px;
  }

  .drop-top {
    margin-bottom: 10px;
    margin-top: 30px;
  }

  .deal-item {
    padding: 20px;
  }

  .prom-item {
    margin-bottom: 30px;

    img {
      height: auto;
      width: 180px;
    }
  }

  .logo-inner {
    line-height: 33px
  }
  .terms-list li:before{
    top: 5px;
  }

}

@media (max-width: 1199px) and (min-width: 992px) {
  .info-bg {
    min-height: 530px;
  }
}

@media (max-width: 1199px) and (min-width: 768px) {
  html, body {
    font-size: 12px;
  }

  .text-lg {
    font-size: 25px;
  }
}

@media (max-width: 991px) and (min-width: 768px) {
  .footer-sp-sm {
    a {
      font-size: 14px;
    }
  }
}

@media (max-width: 991px) {
  .container {
    width: auto;
  }

  //Home slider
  .home-headline-lg, .lease-tabcontent {
    text-align: center;
  }

  .lease-txt {
    margin-bottom: 20px;
  }

  .home-slider {
    margin-bottom: 50px;
  }

  .info-bg, .leads-form {
    margin-bottom: 20px;
  }

  .car-icon-g {
    width: 70%;
  }

  .sl-headline-g {
    font-size: 5rem;
    text-indent: 0;
  }

  .sl-headline-sub {
    letter-spacing: -2px;
  }

  .sl-offer-el {
    height: 114px;
    left: 30px;
  }

  .btn-rounded {
    left: 0;
    top: 100%;
    right: 0;
    margin: -17px auto;
    width: 53px;
    height: 53px;
    font-size: 20px;
    line-height: 48px;
    padding: 0;
  }

  .rounded-inner {
    border-width: 2px;
    width: 50px;
    height: 50px;
  }
  .chat-inner:before{
    width:400px;
  }
  //Page Model
  .sm-order {
    display: -webkit-box;
    display: -moz-box;
    display: box;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    box-orient: vertical;
  }

  .sm-sec {
    -webkit-box-ordinal-group: 2;
    -moz-box-ordinal-group: 2;
    box-ordinal-group: 2;
  }

  .lSSlideOuter li img {
    width: 100%;
  }

  .ExtendVideoXs {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }

  .video-mobile {
    position: relative;
    height: 100%;
    a {
      display: block;
      width: 100%;
      height: 100%;
      cursor: pointer;
      pointer-events: auto;
      &:extend(.ExtendVideoXs);
      &:before {
        content: '';
        background: url("@{base-url}/icons/play-icon.png") no-repeat bottom center;
        width: 51px;
        height: 51px;
        &:extend(.ExtendVideoXs);
      }
    }

  }

  .lSSlideOuter.lSrtl .lSPager {
    display: none;
  }

  .lSAction > .lSNext, .lSAction > .lSPrev {
    color: #fff;
    font-size: 40px;
    margin-top: -45px;
  }

  //Content page
  .content-btn .prom-btn{
    min-width: 100%;
  }
  .table-info td {
    padding: 12px 0!important;
  }
  .model-calc{
    top: auto;
    bottom:0;
    height: 24px;
  }
  .leads-form{
    padding-left:25px;
  }
  .prom-desc{
    overflow: hidden;
    padding: 10px;
  }
  .prom-desc,.prom-desc{
    font-size: 1.2rem;
  }
}

@media (max-width: 767px) {

.sm-order-xs {
    display: -webkit-box;
    display: -moz-box;
    display: box;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    box-orient: vertical;
  }

  .sm-sec-xs {
    -webkit-box-ordinal-group: 2;
    -moz-box-ordinal-group: 2;
    box-ordinal-group: 2;
  }

  html, body {
    font-size: 12px;
  }

  .logo-inner {
    font-size: 25px;
    line-height: 25px;
  }

  .main-content {
    margin: 75px auto 50px auto;
  }
  .sl-offer-el{
    margin-top: -20px;
  }
  .sl-price{
    font-size: 4rem;
  }
  .close-search{
    left: 0;
    right:auto;
  }
  .icon-searchclose{
    background: url("@{base-url}/icons/search-close-b.png") no-repeat;
  }
  .search-selects{
    padding-right: 0;
    padding-left: 55px;
  }

  .content-home {
    margin-top: 58px;
  }
  .dropdown-menu {
   left: 0!important;
    border-radius: 0;
  }

  //Home Slider
  .home-slider {
    height: 436px;
    padding-top: 20px;
  }
  #chat-collapse{
    top: 55px;
  }
  .chat-inner {
    padding: 30px 0;
  }
  .chat-list li {
    margin: 5px 0!important;
  }
  .nav-marks li {
    margin: 10px 0;
  }
  .navbar-nav {
    margin: 0;
  }

  .help-icon {
    width: 40px;
    height: 50px;
    margin-left: -15px;
  }

  .swiper-pagination {
    display: none;
  }

  .mobile-left {
    float: left;
  }

  .mobile-right {
    float: right;
  }
  .mobile-car {
    margin-top: 20px;
    float: right;
    max-width: 75% !important;
  }
  .price-block {
    margin-top: 15px;
  }
  .mid-headline {
    text-align: right;
    max-height: none;

  }
  .price-item, .mid-headline{
    max-width: 80%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
.crs-heading{
 margin-top:0;
}
  .deal-date{
    line-height: 21px;
    font-size: 1.5rem;
    margin:0;
  }
  .price-item{
    line-height: 23px;
    margin:0;
  }

  .price-right{
    float: right;
    margin-bottom: 0;
    line-height: 28px;
  }
  .sl-text-lg {
    .fs30;
  }

  .sl-price {
    font-family: OpenSansHebrew-Bold, sans-serif;
  }

  .sl-details {
    position: absolute;
    left: 0;
    margin-top: 0;
    top: 76px;
  }

  .sl-offer-el {
    background: url(../images/sl-offer-mobile.png) no-repeat bottom center;
    background-size: 100%;
    height: 97px;
    left: 0;
    top: 0;
    width: 93px;
    font-size: 1.5rem;
  }

  .icon-chat, .icon-phone {
    position: relative;
    &:before {
      content: '';
      top: -5px;
      bottom: -5px;
      width: 2px;
      left: -18px;
      position: absolute;
      background: #efefef;
    }
  }

  .search-left {
    margin-bottom: 10px;
  }

  .navbar-fixed-top {
    padding-top: 2px;
  }

  .logo-img {
    height: 30px;
  }

  .logo-el {
    margin-top: 0;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .dropdown-menu {
    //position: absolute !important; --credit card layer
    background-color: #fff !important;
    left: -15px;
  }
  .bs-caret .caret{
    margin-top: -5px !important;
  }
  .drop-checkbox {
    width: 15px;
    height: 15px;
  }
  .drop-left > li > a {
    &:extend(.MenuItemExtend);
  }
  .sec-menu > li > a {
    padding: 13px 15px;
  }

  .prom-item img {
    width: 100px;
  }

  //Dropdown area
  .selection-drop {
    margin-bottom: 30px;
    box-shadow: 0 0 15px rgba(0, 0, 0, .1);
  }

  //Deal
  .deal-item {
    box-shadow: 0 0 15px rgba(0, 0, 0, .1);
    margin-bottom: 20px;
  }

  .footer-sp {
    padding: 30px 0;
  }

  .nav-mobile {
    margin-top: 30px;
  }

  //Page Model
  .leads-form {
    .form-control {
      margin-bottom: 10px;
    }
  }

  .leads-txt {
    width: 100%;
  }

  .info-bg {
    padding: 10px;
  }

  .calc-icon {
    width: 20px;
    height: 30px;
  }
  .popover.bottom{
    overflow-x: hidden;
  }
  .model-calc {
    margin-top: 10px;
    display: block;
  }

  .cards-xs, .leads-form-xs {
    padding: 5px 5px 0 5px;
    color: #fff;
    min-height: 50px;
    line-height: 50px;
    border: 0 none;
    &:extend(.BoldExtend);
  }

  .leads-block-xs {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2000;
    text-align: center;
    border: 0 none;
  }

  .leads-form-xs {
    background: @brand-orange;
  }

  .cards-xs {
    background: #68ac44;
  }

  .leads-headline {
    background: #475462;
    padding-top: 30px;
    padding-bottom: 10px;
    span{
      background: #475462;
      position: relative;
      z-index: 11;
    }
  }

  .file-bg:before, .settings-bg:before{
    z-index: 10;
    bottom: 8px;
    right:15px;

  }
  .file-bg, .settings-bg {
    padding-right: 40px;
  }
.leads-head-icon{
  float: left;
  color: #fff;
  left: 20px;
  top: -15px;
}
  //Page content
  .content-banner-w {
    padding: 5px;
  }

  //Page Results
  .results-form {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    .input-lg {
      margin-bottom: 30px;
    }
  }

  //Contact
  .xs-space-b, .contact-block {
    margin-bottom: 20px;
  }

  .xs-grid-0 {
    padding: 0;
  }

  .results-btn{
    min-width: 100%;
  }
  //Credit Modal
  .contact-label {
    display: none;
  }
.visible{display: block!important;}
  .cards-block {
    text-align: center;
    float: none;
  }

  .close-xs {
    float: none;
    opacity: 1 !important;
    padding: 20px 10px 10px !important;
    width: 100%;
    margin: 0;
  }
  .results-headline{
    margin-top: 25px;
  }
  .results-form .input-lg{
    margin-bottom: 15px;
  }
  .results-form .input-lg,.thanks-modal .input-lg{
text-align: center;

   &::-webkit-input-placeholder {
      .fs32;
    }

    &::-moz-placeholder {
      .fs32;
    }

    &::-moz-placeholder {
      .fs32;
    }

    &:-ms-input-placeholder {
      .fs32;
    }
  }
  .results-btn,.input-submit{
    font-family: OpenSansHebrew-Regular, sans-serif!important;
    .fs32;
  }
  .results-form .results-btn{
    margin-top: 0;
  }
  .results-form {
    margin-top: 20px;
  }
  .results-block .fs24,.contact-txt{
    .fs36;
    line-height: 1.2;
  }
  .results-headline,.contact-headline{
  .fs48;
  }
}

@media (max-width: 767px) and(min-width: 480px) {
  .menu-line {
    height: 5px;
    width: 38px;
  }

  .icon-chat, .icon-phone {
    width: 30px;
    height: 28px;
  }

  .drop-main {
    margin-right: 7px;
  }


}

@media (max-width: 640px) {
  body,html{
    font-size: 10px;
  }
  .home-slider {
    margin-bottom: 0;
  }

  .lease-tablist a {
    padding: 10px 10px 0 10px !important;
  }

  .prom-headline-lg, .prom-headline {
    font-size: 2.5rem;
    margin-bottom: 30px;
  }

  .tab-headline {
    font-size: 1rem;
    margin-top: 5px;
    word-break: break-all;
  }

  .mobile-car {
    margin-top: 60px;
    max-width: 60%!important;
  }

  //Sorting
  .sorting-item {
    margin-left: 10px;
  }

  .sorting-section {
    font-size: 1.2rem;
  }

  .hidden-mobile {
    display: none;
  }

  .popover {
    min-width: 100%;
  }

  .fl-xs {
    float: none !important;
  }
  .sl-offer-el{
    height: 83px;
    width: 80px;
  }
  .home-slider {
    height: 390px;
  }
  .footer-top .btn {
    margin-right: 10px;
  }
}

@media (max-width: 480px) {
body,html{
  font-size: 9px;
}
  .sl-headline-sub {
    font-size: 2rem;
  }

  .sl-headline-g {
    font-size: 3.5rem;
    line-height: 1;
    margin-bottom: 10px;
  }


  .sl-top {
    width: 100%;

  }

  .drop-left {
    min-width: 250px;
  }

  .logo-el {
    padding-left: 5px;
  }

  .logo-inner {
    font-size: 20px;
    line-height: 18px;
  }

  .logo-img {
    height: 22px;
  }

  .logo-sub {
    font-size: 8px;
    line-height: 10px;
  }

  .icon-chat, .icon-phone {
    width: 22px;
    height: 23px;
  }
  .chat-icon{
    height: 20px;
  }
  .sec-menu > li > a {
    padding: 8px;
  }

  .icon-chat:before, .icon-phone:before {
    left: -10px;
  }

  .help-icon {
    position: absolute;
    left: -4px;
    top: 100%;
    margin-left: 0;
  }

  .navbar-fixed-top {
    min-height: 0;
  }

  .prom-subheadline {
    margin: 10px auto;
  }

  .prom-desc {
    bottom: 0;
    padding: 5px;
  }

  .nav-inline li {
    padding-left: 10px;
    margin-left: 10px;
  }

  .leads-block-xs .fs40 {
    font-size: 1.5rem;
  }
  .mobile-car {
    margin-top: 100px;
  }
  #chat-collapse {
    top: 40px;
  }
  .close-chat {
    margin-left: 30px;
  }

  .terms-list li:before{
    top:2px;
  }
}
@media (max-width: 450px) {
  .mobile-car {
    max-width: 100%!important;
  }


}
@media (max-width: 450px) {
  .model-calc{
    bottom: -8px;
  }
  .calc-icon {
    width: 18px;
  }
}
@media (max-width: 380px) {
  .modal .contact-block,.modal .contact-block .col-sm-5,.modal .contact-block .col-xs-4 {
    padding-left:10px;
    padding-right:10px;
  }
  .credit-form .col-xs-12{
    padding:0;
  }
}

@-moz-document url-prefix() {
  .sl-headline-or, .sl-headline-sub {
    font-size: 2rem;
    line-height: 2.5rem;
  }
  .td-bg {
    box-shadow: none;
  }
}
@media (max-height: 700px),(max-width: 767px) {
  #chat-collapse{
    bottom:0;
  }
}
